

.grid-container-signup{
    display: grid;
    grid-template-columns: auto auto;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 55px;
}


.grid-item-signups{
    margin-top: 10rem;
    display: inline-flex;
    height: 1024px;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px;
}
.form-table-signin{
    width: 450px;
}

.top-form{
    margin-top: -70px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
}

.google-button{
    margin: 0 auto;
    width: 400px;
    height: 48px;
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    background: #FFF;
}
.googe-text{
    color: #98A2B3;
    font-family: Inter, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
#img6{
    width: 24px;
    height: 24px;
}


.form-proper{
    margin-top: -10px;
    width: 450px;
    height: 750px;
}
.img5-signup{
    background-image: url("../src/assets/user_reg_pic.svg");
    width: 840px;
    height: 1024px;
    max-width: 50%;
}
.SQ-text{
    color: #2F2E41;
    font-family: Lato, serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.32px;
}
.createAcct-text{
    color: #101828;
    font-family: Lato, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

.label{
    color: #000;
    font-family: Lato, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.16px;
}
.input-fields{
    width: 450px;
    height: 40px;
    display: flex;
    align-items: flex-start;
    /*color: #9E9E9E;*/
    font-family: Lato, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: 24px; /* 150% */
    letter-spacing: -0.16px;
    color: #000;
}
.single-input-field{
    margin: 20px 0;
}

.button-cta{
    margin-top: 5px;
    display: flex;
    width: 450px;
    height: 44px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: #6C63FF;

    color: #FFF;

    /* Button Semi Bold - 14 */
    font-family: Inter, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
}

.alreadyHaveAnAcct{
    padding-top: 20px;
    color: black;
    text-align: center;
    /* Button Normal - 14 */
    font-family: Inter, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

.alreadyHaveAnAcct > span{
    color: #6C63FF;
    font-family: Inter, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    text-decoration-line: underline;
}


.modal-body{
    background-color: white;
    display: flex;
    gap: 10px;
    color: #6C63FF;
    font-family: Lato, serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 32.2px */
    letter-spacing: 0.15px;
}
.modal-close{
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    background: #6C63FF;
    width: 427px;
    height: 46px;
    color: white;
}