
.bodi {
    margin: 0;
    font-family: Arial, sans-serif;
    margin-top: 10rem;
    color: #fff;
    position: absolute;
    top: 260%;
    left: 0%;
    width:100%;
    height: 50%;
    padding-top: 12%;

}

.footer-landingPage {
    background-color: #252a41;
    color: #8d96a8;
    padding: 20px 40px;
    width: 94.4%;
   
}

.footer-content {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    flex-wrap: wrap;
}

.footer-section {
    margin-bottom: 70px;
}

.brand span {
    font-weight: bold;
    color: #00afff;
   
}

.links-column h4, .social-media h4 {
    color: #98A2B3;
}

.links-column ul, .social-media ul {
    list-style: none;
    padding: 0;
}

.links-column ul li, .social-media ul li {
    margin-bottom: 10px;
}

.links-column ul li a, .social-media ul li a {
    color: #8d96a8;
    text-decoration: none;
    transition: color 0.3s;
}

.links-column ul li a:hover, .social-media ul li a:hover {
    color: #00afff;
}

.footer-bottom {
     display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #333a4d;
    padding-top: 20px;
    background-color:#001F3F;
    padding-right: 4rem;
    padding-left: 4rem;
   
    width: 91.1%;
    position:absolute;
    top:90%;
    left: 0%;
    right: 20%;
    transform: translate(-2% -20%);
    text-align: center; 
 
    /* padding: 48px, 0px, 48px, 0px; */
    /* gap: 69px; */

    
}

.social-icons {
    display: flex;
   
}

.social-icons a {
    display: inline-block;
    margin-left: 15px;
}
.social-icons span {
    display: inline-block;
    background-color: #8d96a8;
    width: 20px;
    height: 20px;
}






.links-group {
display: flex;
flex-wrap: wrap;
}

.links-column {
flex: 1 1 17%; 
margin-right: 13px;
color: #0000FF;
    width: 10rem;
}

.links-column:last-child {
margin-right: 1%;

}
.brand-info {
display: flex;
align-items: center;

}

.brand-info h2 {
margin-right: 30px;
font-size: 22px; /* Adjust font size as needed */
top: 40px;
font-family: Lato;
font-weight: 700;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
color: #fff;



}

.brand-info p {
margin: 0;
font-size: 14px; /* Adjust font size as needed */
}

.brand-info img {
max-width: 100px; /* Adjust size as needed */
height: auto;
}

.tex{
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #EAECF0;
width: 320px;
height: 47px;



}