@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

.booking-confirmation-container-book-confirmed {
    position: -ms-device-fixed;
    width: 60vh;


}

.booking-header-book-confirmed {
    width: 190.4vh;
    height: 80px;
    background: #001f3f;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -8px;
    margin-left: -8px;

}

.bbbd-book-confirmed{
    width: 190.4vh;
    height: 80px;
    margin-top: -8px;
    margin-left: -8px;
    background-color: #001f3f;

}

.booking-text-book-confirmed {
    font-family: Lato;
    font-size: 23px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;


}

.booking-hero-container-book-confirmed {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 11%;

}

.booking-hero-first-book-confirmed {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.booking-hero-second-book-confirmed {
    display: flex;
    flex-direction: column;
    gap: 10px;
}




.booking-hero-first-up-book-confirmed{
    position: absolute;
    top: 90px;
    width: 878px;
    height: 42px;
    gap: 16px
}
.booking-hero-first-up-text-up-book-confirmed{
    position: absolute;
    width: 450px;
    height: 28px;
    font-family: Lato;
    font-size: 32px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    left: 65px;
}
.booking-hero-first-up-text-down-book-confirmed{
    position: absolute;
    width: 878px;
    height: 28px;
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #00000080;
    top: 35px;
    left: 65px;
}
.booking-hero-first-up-text-upp-book-confirmed{
    position: absolute;
    width: 450px;
    height: 28px;
    font-family: Lato;
    font-size: 32px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    top:55px;
    left:65px;

}
.booking-hero-first-up-text-downn-book-confirmed{
    position: absolute;
    width: 878px;
    height: 28px;
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #00000080;
    top: 95px;
    left:65px;
}
.booking-hero-first-down-book-confirmed{
    position: absolute;
    width: 254px;
    height: 72px;
    gap: 16px;
    top: 100px;

}
.booking-hero-first-down-text-up-book-confirmed{
    position: absolute;
    top: 80px;
    width: 454px;
    height: 28px;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    left: 65px;

}
.booking-hero-first-down-text-down-book-confirmed{
    position: relative;
    width: 136px;
    height: 28px;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    left: 65px;
    color: #00000080;
    top: 115px;
}


.booking-hero-second-text-up-book-confirmed{
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    color: #000000;
    position: absolute;
    top: 110px;
    left: 1100px;
    margin-right: 800%;
    text-align: left;
    width: 248px;
    height: 28px

}
.booking-hero-second-text-down-book-confirmed{
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    position: absolute;
    text-align: left;
    top: 140px;
    left: 1170px;
    width: 73px;
    height: 28px;
    color: #00000080;

}
.booking-table-one-book-confirmed{

    width: 1291px;
    height: 332px;
    position: absolute;
    top: 265px;
    left: 62px;
    gap: 28px;


}
.table-one-first-book-confirmed{
    width: 1090px;
    height: 332px;
    gap: 16px;
}
.booking-table-one-head-book-confirmed{
    background: #2D9CDB;
    width: 1090px;
    height: 116px;
    padding: 22px, 15px, 22px, 15px;
    border-radius: 5px;
    gap: 10px;
}
.booking-table-one-head-text-book-confirmed{
    position: relative;
    margin: 0 20px;
    display: grid;
    gap: 20px 20px;
    grid-template-columns: auto auto auto auto auto;
    width: 1060px;
    height: 72px;
    padding: 22px, 0px, 22px, 0px;
    gap: 87px;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    top: 45px;
}
.one-head-1-book-confirmed{
    width: 128px;
    height: 28px
}

.booking-table-one-body-one-book-confirmed{
    position: relative;
    border: 2px solid #2D9CDB;
    width: 1090px;
    height: 92px;
    padding: 18px, 22px, 18px, 38px;
    border-radius: 5px;
    gap: 10px;
    top: 20px;
    text-align: center;
}
.booking-table-one-body-one-text-book-confirmed{
    position: relative;
    margin: 0 20px;
    display: grid;
    gap: 20px 20px;
    grid-template-columns: auto auto auto auto auto;
    width: 1060px;
    width: 1018px;
    height: 56px;
    gap: 160px;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    top: 25px;
    left: 20px;

}

.booking-table-one-body-two-book-confirmed{
    position: relative;
    border: 2px solid #2D9CDB;
    width: 1090px;
    height: 92px;
    padding: 21px, 40px, 21px, 40px;
    border-radius: 5px;
    gap: 10px;
    top: 40px;
}
.booking-table-one-body-two-text-book-confirmed{
    position: relative;
    margin: 0 20px;
    display: grid;
    gap: 20px 20px;
    grid-template-columns: auto auto auto auto auto;
    width: 1016px;
    height: 50px;
    gap: 163px;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    top: 25px;
    left: 20px;

}
.two-body-1-book-confirmed{
    position: relative;
    width: 72px;
    height: 28px
}

.table-one-second-book-confirmed{
    width: 173px;
    height: 274px;
    gap: 13px

}
.table-one-second-top-book-confirmed{
    background:#2D9CDB;
    width: 173px;
    height: 116px;
    padding: 44px, 62px, 44px, 62px;
    border-radius: 5px;
    gap: 10px;
    position: absolute;
    top: 10px;
    left: 1150px;



}
.table-one-second-top-text-book-confirmed{
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    position: relative;
    top: 45px;
    left: 65px;
    color:#FFFFFF;
}
.table-one-second-middle-book-confirmed{
    background: #001F3F;
    position: relative;
    width: 173px;
    height: 66px;
    padding: 19px, 45px, 99px, 95px;
    border-radius: 5px;
    top: -180px;
    left: 1150px;
    margin-bottom: 12%;

}
.table-one-second-middle-text-book-confirmed{
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    position: relative;
    top: 20px;
    left: 22px;
    color:#FFFFFF;
    margin-bottom: 20px;
}

.table-one-second-bottom-book-confirmed{
    background: #001F3F;
    position: absolute;
    width: 172px;
    height: 66px;
    padding: 19px, 50px, 19px, 50px;
    border-radius: 5px;
    top: 210px;

}
.table-one-second-bottom-text-book-confirmed{
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    position: relative;
    top: 20px;
    left: 43px;
    color:#FFFFFF;
}
.pay-button-book-confirmed{
    position: absolute;
    width: 171px;
    height: 94px;
    top: 640px;
    left: 1210px;
    padding: 33px, 66px, 33px, 66px;
    border-radius: 5px;
    gap: 10px;
    background: #2D9CDB;
    cursor: pointer;

    color: #FFFFFF;
}
.pay-button:active-book-confirmed{
    transform: scale(0.92);
    box-shadow: 2px 2px 5px rgba(0,0,0,2);
}

.pay-button-text-book-confirmed{
    position: absolute;
    width: 39px;
    height: 28px;
    gap: 6px;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    top: 35px;
    left: 65px;


}

.bookingcontainer-book-confirmed{

    width: 150%;
    /*height: 0%;*/
    border-radius: 20px;
    border-color: rgb(128, 128, 128);
    position: relative;
    top: 580px;
    /*left: 92px;*/
    margin-left: 12%;
    /*margin-bottom: -90%;*/

}
.booking-table-two-book-confirmed{
    position: relative;
    width: 100%;
    height: 108px;
    top: 10px;
    left: -25px;
    gap: 294px;


}
.booking-table-two-head-book-confirmed{
    width: 188%;
    height: 58px;
    padding: 15px, 2px, 15px, 10px;
    border-radius: 5px;
    gap: 10px;
    background: #001F3F;
    margin-bottom: 220px;
}

.booking-table-two-head-text-book-confirmed{
    position: relative;
    margin: 0 20px;
    display: grid;
    /*gap: 20px 20px;*/
    grid-template-columns: auto auto auto;
    width: 95%;
    height: 28px;
    top: 15px;
    left: 10px;
    gap: 300px;

}

.booking-table-two-head-text-first-book-confirmed{
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    width: 70px;
    height: 28px;
    color: #FFFFFF;
    margin-left: 8px;
}
.booking-table-two-head-text-middle-book-confirmed{
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    width: 270px;
    height: 28px;
    color: #FFFFFF;
}

.booking-table-two-head-text-last-book-confirmed{
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    width: 180px;
    height: 28px;
    color: #FFFFFF;
    margin-right: 80px;
}

.booking-table-two-body-book-confirmed{
    position: relative;
    width: 790px;
    height: 70px;
    /*top: 1400px;*/
    margin-bottom: 160px;
    /*left: 902px;*/
    gap: 97px;



}
.booking-table-two-body-box1-book-confirmed{
    width: 100%;
    height: 40%;
    gap: 24px;
    margin-bottom: 1250px;
    gap:500px;
}

.booking-table-two-body-box1-blue-book-confirmed{
    background: #2D9CDB;
    width: 166%;
    height: 190%;
    margin-left: -3%;
    /*padding: 8px, 56px, 8px, 56px;*/
    border-radius: 5px;
    gap: 10px
}

.booking-table-two-body-box1-blue-text-book-confirmed{
    display: grid;
    gap: 20px 20px;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    width: 100%;
    height: 52px;
    padding: 22px, 0px, 22px, 0px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    /*letter-spacing: 0em;*/
    text-align: left;
    color: #FFFFFF;
    margin-left: 20px;

}

.booking-table-two-body-box1-white-book-confirmed{
    display: grid;
    /*gap: 20px 20px;*/
    grid-template-columns: auto auto auto auto;
    position: relative;
    width: 80%;
    height: 8%;
    gap: 293px;
    left: 35px;
    top: 25px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;

}
.booking-table-two-body-key-value-book-confirmed{
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto;
    position: relative;
    width: 166%;
    height: 80%;
    border-radius: 5px;
    border: 2px;
    background: #2D9CDB;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    top: -1170px;
    margin-left: -3%;
    color: #FFFFFF;
}
.booking-table-two-body-key-value-first-book-confirmed{
    margin-left: 20px;
    font-weight: 400;
    height: 30px;
    margin-top: 10px;
}

.booking-table-two-body-key-value-second-book-confirmed{
    margin-left: 20px;
    font-weight: 400;
    margin-top: 10px;


}
.booking-table-three-book-confirmed{
    position: absolute;
    width: 1290px;
    height: 488px;
    top: 1404px;
    left: 75px;
    gap: 24px;

}
.booking-table-three-head-book-confirmed{
    background: #001F3F;
    width: 1289px;
    height: 58px;
    padding: 15px, 49px, 15px, 53px;
    border-radius: 5px;
    gap: 1px;
}

.booking-table-three-head-text-book-confirmed{
    position: relative;
    margin: 0 20px;
    display: grid;
    gap: 20px 20px;
    grid-template-columns: auto auto auto;
    width: 1187px;
    height: 28px;
    gap: 351px;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    top: 15px;
    left: 40px;
    color: #FFFFFF;
}
.booking-table-three-head-text-first-book-confirmed{
    width: 70px;
    height: 28px;
    color: #2d1111;

}
.booking-table-three-head-text-middle-book-confirmed{
    width: 266px;
    height: 28px;
    color: #FFFFFF;

}
.booking-table-three-head-text-last-book-confirmed{
    width: 169px;
    height: 28px;
    color: #FFFFFF;
}
.booking-table-three-body-book-confirmed{
    position: relative;
    width: 1290px;
    height: 406px;
    gap: 27px;
    top: 24px;
}
.booking-table-three-body-box1-book-confirmed{
    width: 1288px;
    height: 140px;
    gap: 24px

}
.booking-table-three-body-box1-blue-book-confirmed{
    background: #2D9CDB;
    width: 1288px;
    height: 88px;
    padding: 8px, 56px, 8px, 56px;
    border-radius: 5px;
    gap: 10px;
}
.booking-table-three-body-box1-blue-text-book-confirmed{
    display: grid;
    gap: 20px 20px;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    position: relative;
    width: 1176px;
    height: 72px;
    padding: 22px, 0px, 22px, 0px;
    gap: 316px;
    font-family: Lato;
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    left: 55px;
    color: #FFFFFF;
}

.booking-table-three-body-box1-white-book-confirmed{
    display: grid;
    gap: 20px 20px;
    grid-template-columns: auto auto auto auto;
    position: relative;
    width: 1216px;
    height: 28px;
    gap: 293px;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    left: 35px;
    top: 25px;
}
.booking-table-three-body-key-value-book-confirmed{
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto;
    position: relative;
    width: 1290px;
    height: 82px;
    border-radius: 5px;
    border: 2px;
    gap: 10px;
    background: #2D9CDB;
    top: 20px;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
.booking-table-three-body-key-value-first-book-confirmed{
    position: absolute;
    width: 155px;
    height: 28px;
    top: 27px;
    left: 39px
}
.booking-table-three-body-key-value-second-book-confirmed{
    position: absolute;
    width: 135px;
    height: 28px;
    top: 21px;
    left: 746px;
}