.FlighInformationPageHeader {
  background-color: #001f3f;
  width: 1150.37px;
  /* width: 100%; */
  height: 53.31px;
  padding: 15px 57.37px 14.31px 20.22px;
  justify-content: space-between;
  display: flex;
  align-content: center;
}
.flightInformationHeaderText {
  color: white;
  display: flex;
  align-content: center;
}
.flightInformationHeaderCancel {
  /* position: relative; */
  display: flex;
  align-content: center;
  margin-left: 20%;
  margin-top: 15px;
}
.flightInformationHeaderCancel img {
  width: 30px;
  height: 30px;
}
