.card {
    background: #ffffff;
    border-radius: 16px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    margin: 16px;
    padding: 40px;
    text-align: center;
    width: 300px;
    position: relative;
    top: 220%;
    transition: box-shadow 1s ease-in-out;
}
.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.card img {
    width: 84px;
    height: 84px;
    margin-bottom: 8px;
}
.card h3 {
    margin: 8px 0;
    font-size: 18px;
}
.card p {
    color: #666;
    font-size: 14px;
}
.search-box {
    display: none;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    padding: 10px;
    background: #fff;
    z-index: 10;
}

.titlle{
    font-family: Lato;
font-size: 16px;
font-weight: 700;
line-height: 34px;
letter-spacing: 0.15000000596046448px;
text-align: right;
width: 165px;
height: 34px;
color: #001F3F;


  }
  .descriptionn{
    font-family: Lato;
font-size: 15px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0.15000000596046448px;
text-align: left;
width: 292px;
height: 44px;
color: #4F4F4F;



  }
  
  .icon {
    margin-right: 10px;
      margin-top: -0.5rem;
  }
  .bodyy {

      margin-left: auto;
      margin-right: auto;
      font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
      width: 1280px;
      height: 40vh;
      column-gap: 20px;

}