@import url("https://fonts.googleapis.com/css?family=Heebo:400,500,700,800|Inter:400,600");

.signup-container-signups{
    max-width: 100%;
    margin: 0;
    margin-top: -6rem;
    margin-left: -5rem;
}


.grid-container-signups{
    display: grid;
    grid-template-columns: auto auto;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 55px;
}

.form-table-signups{
    width: 450px;
}

.top-form-signupss{
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
}



.grid-item-passwordResets{
    display: inline-flex;
    height: 1024px;
    align-items: center;
    gap: 30px;
    justify-content: center;
    margin: auto;
    padding-top: 10rem;


}


.SQ-text-signups{
    width:123px;
    height: 42px;
    gap: 4px;
    color: #2F2E41;
    font-family: Lato, serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.32px;
}
.createAcct-texts{
    margin-top: -0.5rem;
    color: #101828;
    font-family: Lato;
    font-size: 27.65px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    width: 400px;
    height: 39px;
}

.form-proper-signupss{
    width: 450px;
    height: 750px;
    margin-top: -3rem;

}
.label-resetPs{
    font-family: Heebo;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
}
.input-fieldss{
    padding-left: 10px;
    width: 450px;
    height: 40px;
    display: flex;
    align-items: flex-start;
    /*color: #9E9E9E;*/
    font-family: Lato, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: 24px; /* 150% */
    letter-spacing: -0.16px;
    color: #000;
}
.single-input-fields{
    margin: 20px 0;
}

.button-ctas{
    margin-top: 5px;
    display: flex;
    width: 470px;
    height: 44px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    background: #001F3F;

    color: #FFF;

    /* Button Semi Bold - 14 */
    font-family: Inter, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 100;
    line-height: 20px; /* 142.857% */
}

.alreadyHaveAnAccts{
    margin-top: -0.5rem;
    padding-top: 20px;
    color: black;
    text-align: center;
    font-family: Inter, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

.alreadyHaveAnAccts > span{
    color: #6C63FF;
    font-family: Inter, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    text-decoration-line: underline;
}

.modal-forgots {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.modal-forgots.shows {
    display: block;
}

.modal-container-forgots {
    width: 544px;
    height: 342px;
    position: absolute;
    top: calc(50% - 171px);
    left: calc(50% - 272px);
    padding: 32px;
    border-radius: 10px;
    background: #FCFCFD;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-title-forgots {
    width: 380px;
    height: 32px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    gap: 383px;
    color: #001F3F;
}


.icon-forgots {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    background: #EFF8FF;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.text-body-forgots {
    width: 480px;
    height: 22px;
    margin-bottom: 16px;
    color: #828282;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 45px;
}

.modal-button-forgots {
    position: absolute;
    width: 482px;
    height: 44px;
    padding: 12px 10px 12px 10px;
    border-radius: 12px;
    gap: 16px;
    background: #001F3F;
    top: 150px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0;
    color: #FFFFFF;
    text-align: center;
    margin-top: 150px;
    margin-left: -228px;
}
