.middletab-infant {
    display: flex;
    position: relative;
    padding: 30px; 
    align-items: center;
    background-color:#001F3F;
    margin: 20px;
  }
  
  .search-container {
    position: relative;
  }
  
  .search-input-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .search-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 30px 0 0 30px;
    outline: none;
    max-width: 200px;
  }
  
  .search-button {
    background-color: blue;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
    outline: none;
  }
  
  .search-button .fa-search {
    position: relative;
    margin-left: -3px;
  }
  
  .flightdetails-infant {
    margin-right: 20px; 
    color: white;
  }
  
  .total-price-container-infant {
    margin-left: auto; 
    color: white;
  }
  
  .total-price-container-infant h1 {
    margin-bottom: 5px; 
  }
  