.FlightInformationPageBodyAll {
  width: 914px;
  height: 490px;
  border-radius: 10px;
  border: 0.46px solid black;
  gap: 20px;
  overflow: hidden;
  margin-left: 11%;
  margin-right: 0%;
  margin-top: 30px;
  align-self: center;
  justify-self: center;
}
.FlightInformationPageBodyHeader {
  width: 914px;
  height: 49px;
  padding: 25px 723px 11px 24px;
  border-radius: 10px 10px 0px 0px;
  background-color: #001f3f;
  color: white;
  align-items: center;
  display: flex;
font-size: small;
}

.FlightInformationPageBodyHeader {
  margin: 0;
}

.FlightInformationPageBodyForm {
  padding: 10px;
  display: flex;
  flex-direction: column;

}
.FlightInformationPageBodyForm label {
  display: block;
  margin-bottom: 5px;
}
.FlightInformationPageBodyForm input {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  padding: 5px 0;
}
.formRow {
  display: flex;
  align-items: baseline;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  padding-top: 10px;
  justify-content: space-between;
  margin-bottom: 10px;
}
.formRow label {
  width: 120px;
  margin-right: 10px;
  padding-bottom: 5px;
}

.formRow input {
  flex: 1;
  border: none;
  margin-left: 10px;
  padding-bottom: 5px;
  margin-left: 60%;
}
