.backgroundd-landingP {
    background-image: url('src/Components/LandingPage/images/Rectangle 6.png');
    background-size: cover;
    background-position: center;
    padding: 100px;
    height: 400px;
    width: 89%;
    padding-right: 13%;
    
    /* display: flex; */
    position: absolute;
    left: -9%;
  font-family: Lato, serif;
font-size: 16px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0;
text-align: left;
  }
.link-landing{
  text-decoration: none;
  color: white;
}

  .searchco-landingP{
    position: absolute;
    top: 20%;

  }


  .search-container-landingP {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    padding: 20px;
    position: absolute;
    width: 60%;
    height: 55%;
    left: 20%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .form-buttons-landingP {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .form-buttons-landingP button {
    background: none;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
  }
  
  .form-buttons-landingP .active {
    border-bottom: 2px solid #000;
  }
  
  .icon-landingP {
    margin-right: 10px;
  }
  
  .trip-type-landingP {
    display: flex;
    margin-bottom: 20px;
  }
  
  .trip-type-landingP label {
    margin-right: 10px;
  }
  
  .form-row-landingP {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .input-group-landingP {
    flex-basis: calc(33.333% - 10px);
    display: flex;
    flex-direction: column;
  }
  
  .input-group-landingP label {
    margin-bottom: 5px;
  }
  
  .input-group-landingP input[type="text"],
  .input-group-landingP input[type="date"],
  .input-group-landingP select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .input-groupp-landingP {
    flex-basis: calc(50.333% - 30px);
    display: flex;
    flex-direction: column;
    border-radius: 20%;
    
  }

  .input-groupp-landingP input[type="text"],
  .input-groupp-landingP input[type="date"],
  .input-groupp-landingP select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .search-button-landingP {
    background-color: #001F3F;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: -40px;
    position: absolute;
    left:2.0%;
    top: 93%;
   

  }

  .booking-header-landingP {
    display: flex;
    justify-content: center;
    margin-bottom: 1px;
    position: absolute;
    top: 10.2%;
    left:20%;
    width: 240px;
    height: 40px;
    gap: 8px


  }
  
  .formimg-landingP{
    /* width: 28px;
height: 18px; */
position: absolute;
top: -4px;
left: 30px;


  }


  .booking-header > button {
    padding: 10px 5px;
    cursor: pointer;
  }
  .btnsty-landingP{
    background: #001F3F;
    color: #fff;
    font-family: Lato;
font-size: 14px;
font-weight: 400;
line-height: 10px;
letter-spacing: 0.15000000596046448px;
text-align: left;
width: 450px;
height: 38px;



  }
