@import url("https://fonts.googleapis.com/css?family=Heebo:400,500,700,800|Inter:400,600");
.forget-password-container{
    width: 1440px;
    height: 849px;
    top: -853px;
    left: -1774px;
    background: #FFFFFF;

  }
.forget-password-image{

    width: 775.66px;
    height: 861.5px;
    top: -7.16px;
    left: 0.32px;
    rotate: -0.29;
  }
.forget-password-content-container{
    position: absolute;
    width: 482px;
    height: 321px;
    top: 259px;
    left: 819px;
    gap: 24px
  }
.password-reset-items{

    width: 482px;
    height: 321px;
    top: 259px;
    left: 819px;
    gap: 24px
}
.forgot-password-logo-title{
    position: relative;
    width: 251px;
    height: 89px;
    gap: 8px;
    left: 160px;
}
.forgot-password-logo-image{
    position: relative;
    width: 123px;
    height: 42px;
    gap: 4px;
    left: 60px;
}

.create-acct-text{

    font-family: Lato;
    font-size: 28px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: left;
    width: 351px;
    height: 39px

}
.reset-instruction-form{
    width: 482px;
    height: 208px;
    gap: 24px;
}
.reset-password-text{
    position: absolute;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    width: 395px;
    height: 40px;
    color: #98A2B3;
    top: 100px;
    left: 90px;
}
.forgot-password-form{
    position: absolute;
    width: 482px;
    height: 144px;
    gap: 28px;
    top: 140px;
    left: 50px;
}
.single-input-field{
    position: absolute;
    width: 478px;
    height: 72px;
}
.forgot-password-label{
    position: absolute;
    width: 91px;
    height: 20px;
    gap: 2px;
    font-family: Heebo;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #212121;
    top: 25px;
}
.forgot-password-input-field{
    position: absolute;
    width: 478px;
    height: 48px;
    padding: 12px;
    border-radius: 4px;
    border: 1px;
    gap: 8px;
    background: #FFFFFF;
    border: 1px solid #475467;
    top: 50px;
}
.forgot-password-button-cta{
    position: absolute;
    width: 505px;
    height: 44px;
    padding: 12px, 10px, 12px, 10px;
    border-radius: 12px;
    gap: 16px;
    background: #001F3F;
    top: 150px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;
    text-align: center;
}



.modal-forgot {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;

  }

  .modal-forgot.show {
    display: block;
  }

  .modal-container-forgot {
    width: 544px;
    height: 342px;
    position: absolute;
    top: calc(50% - 171px);
    left: calc(50% - 272px);
    padding: 32px;
    border-radius: 10px;
    background: #FCFCFD;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modal-title-forgot {
    width: 380px;
    height: 32px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    gap: 383px;
    color: #001F3F;

  }



  .icon-forgot {

    margin-left: 216px;
    margin-top: 40px;
    background: #EFF8FF;
    width: 80px;
    height: 80px;
    border-radius: 50%;

        display: inline-flex;
        justify-content: center;
        align-items: center;





}

  .text-body-forgot {
    width: 480px;
    height: 22px;
    margin-bottom: 16px;
    color: #828282;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 45px;
    ;
  }

  .modal-button-forgot {


    position: absolute;
    width: 482px;
    height: 44px;
    padding: 12px, 10px, 12px, 10px;
    border-radius: 12px;
    gap: 16px;
    background: #001F3F;
    top: 150px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;
    text-align: center;
    margin-top: 150px;

}